# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略 Python 缓存
__pycache__/
*.py[cod]

# 忽略依赖和虚拟环境
node_modules/
venv/
.venv/
env/

# 忽略临时日志
*.log

# 忽略特定的 IDE 配置（如果你想保持纯净）
.vscode/
.idea/
.agent/
config.js

# 忽略文件夹及其下的所有内容
doc/
release/